                        /****************************************************************
                     MAIN BODY
****************************************************************/

                        .container {
                            width: 100%;
                            height: auto;
                            background-color: dimgray;
                        }
                        /****************************************************************
                   Home
****************************************************************/

                        .home {
                            width: 100%;
                            max-width: 1280px;
                            height: 768px;
                            background-image: url(../vcimages/japanese_food-wallpaper-1280x768.jpg);
                            background-size: cover;
                            background-attachment: fixed;
                        }

                        .overlay {
                            height: 100%;
                            width: 100%;
                            opacity: 0.75;
                            background-color: black;
                        }
                        /******************** Nav Bar************************/

                        #navigation-bar {
                            height: auto;
                            text-align: center;
                            width: 100%;
                            background: #D1581A;
                            /*                            position: fixed;*/
                            z-index: 100000;
                            /*                            box-shadow: 0px 1px 10px 10px #ddd*/
                        }

                        #navigation-bar>ul>li {
                            display: inline;
                        }

                        #navigation-bar>ul>li>a {
                            display: inline-block;
                            height: 60px;
                            line-height: 60px;
                            padding: 0px 15spx;
                            margin: 0px;
                            text-decoration: none;
                            color: #fff;
                            transition: color 0.3s ease-in;
                        }

                        #navigation-bar>ul>li>a:hover {
                            color: #1A52D1;
                        }

                        .empty {
                            height: 50px;
                        }

                        .introT {
                            font-family: 'Galada', cursive;
                            font-size: 45px;
                            color: #FFFFFF;
                            height: 200px;
                        }

                        .overlay1 {
                            height: 150px;
                            width: 100%;
                            opacity: 0.75;
                            background-color: black;
                            padding: 0;
                            margin: 0;
                        }
                        /****************************************************************
                  About
****************************************************************/

                        .about {
                            width: 100%;
                            max-width: 1280px;
                            height: 768px;
                            background-image: url(../vcimages/chicken_skewers-wallpaper-1366x768.jpg);
                            background-size: cover;
                            background-attachment: fixed;
                            padding: 0;
                            margin: 0;
                        }

                        .content {
                            height: 700px;
                            width: 100%;
                            font-family: 'Oxygen', sans-serif;
                            font-size: 35px;
                            color: aliceblue;
                        }

                        .prof {
                            height: 194px;
                            width: 238px;
                            border-radius: 50%;
                            /*                            margin: auto;*/
                        }

                        .text {
                            font-size: 18px;
                            font-family: 'Oxygen', sans-serif;
                            color: azure;
                        }
                        /****************************************************************
                 Gallery
****************************************************************/

                        .gallery {
                            background: #FFFFFF;
                            width: 100%;
                            height: 100%;
                        }

                        .title {
                            font-family: 'Oxygen', sans-serif;
                            font-size: 35px;
                            color: darkgoldenrod;
                            background: #FFFFFF;
                        }

                        .slides {
                            padding: 0;
                            width: 609px;
                            height: 420px;
                            display: block;
                            margin: 0 auto;
                            position: relative;
                        }

                        .slides * {
                            user-select: none;
                            -ms-user-select: none;
                            -moz-user-select: none;
                            -khtml-user-select: none;
                            -webkit-user-select: none;
                            -webkit-touch-callout: none;
                        }

                        .slides input {
                            display: none;
                        }

                        .slide-container {
                            display: block;
                        }

                        .slide {
                            top: 0;
                            opacity: 0;
                            width: 609px;
                            height: 420px;
                            display: block;
                            position: absolute;
                            transform: scale(0);
                            transition: all .7s ease-in-out;
                        }

                        .slide img {
                            width: 100%;
                            height: 100%;
                        }

                        .nav label {
                            width: 200px;
                            height: 100%;
                            display: none;
                            position: absolute;
                            opacity: 0;
                            z-index: 9;
                            cursor: pointer;
                            transition: opacity .2s;
                            color: #FFF;
                            font-size: 156pt;
                            text-align: center;
                            line-height: 380px;
                            font-family: "Varela Round", sans-serif;
                            background-color: rgba(255, 255, 255, .3);
                            text-shadow: 0px 0px 15px rgb(119, 119, 119);
                        }

                        .slide:hover + .nav label {
                            opacity: 0.5;
                        }

                        .nav label:hover {
                            opacity: 1;
                        }

                        .nav .next {
                            right: 0;
                        }

                        input:checked + .slide-container .slide {
                            opacity: 1;
                            transform: scale(1);
                            transition: opacity 1s ease-in-out;
                        }

                        input:checked + .slide-container .nav label {
                            display: block;
                        }

                        .nav-dots {
                            width: 100%;
                            bottom: 9px;
                            height: 11px;
                            display: block;
                            position: absolute;
                            text-align: center;
                        }

                        .nav-dots .nav-dot {
                            top: -5px;
                            width: 11px;
                            height: 11px;
                            margin: 0 4px;
                            position: relative;
                            border-radius: 100%;
                            display: inline-block;
                            background-color: rgba(0, 0, 0, 0.6);
                        }

                        .nav-dots .nav-dot:hover {
                            cursor: pointer;
                            background-color: rgba(0, 0, 0, 0.8);
                        }

                        input#img-1:checked ~ .nav-dots label#img-dot-1,
                        input#img-2:checked ~ .nav-dots label#img-dot-2,
                        input#img-3:checked ~ .nav-dots label#img-dot-3,
                        input#img-4:checked ~ .nav-dots label#img-dot-4,
                        input#img-5:checked ~ .nav-dots label#img-dot-5,
                        input#img-6:checked ~ .nav-dots label#img-dot-6 {
                            background: rgba(0, 0, 0, 0.8);
                        }
                        /****************************************************************
                   Services
****************************************************************/
                        /******************************************************************
                   Contact us
******************************************************************/

                        #feedback-page {
                            text-align: center;
                        }

                        #form-main {
                            width: 100%;
                            float: left;
                            padding-top: 0px;
                        }

                        #form-div {
                            background-color: rgba(72, 72, 72, 0.4);
                            padding-left: 35px;
                            padding-right: 35px;
                            padding-top: 35px;
                            padding-bottom: 50px;
                            width: 450px;
                            float: left;
                            left: 50%;
                            position: absolute;
                            margin-top: 30px;
                            margin-left: -260px;
                            -moz-border-radius: 7px;
                            -webkit-border-radius: 7px;
                        }

                        .feedback-input {
                            color: #3c3c3c;
                            font-family: Helvetica, Arial, sans-serif;
                            font-weight: 500;
                            font-size: 18px;
                            border-radius: 0;
                            line-height: 22px;
                            background-color: #fbfbfb;
                            padding: 13px 13px 13px 54px;
                            margin-bottom: 10px;
                            width: 100%;
                            -webkit-box-sizing: border-box;
                            -moz-box-sizing: border-box;
                            -ms-box-sizing: border-box;
                            box-sizing: border-box;
                            border: 3px solid rgba(0, 0, 0, 0);
                        }

                        .feedback-input:focus {
                            background: #fff;
                            box-shadow: 0;
                            border: 3px solid #3498db;
                            color: #3498db;
                            outline: none;
                            padding: 13px 13px 13px 54px;
                        }

                        .focused {
                            color: #30aed6;
                            border: #30aed6 solid 3px;
                        }
                        /* Icons ---------------------------------- */

                        #name {
                            background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
                            background-size: 30px 30px;
                            background-position: 11px 8px;
                            background-repeat: no-repeat;
                        }

                        #name:focus {
                            background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
                            background-size: 30px 30px;
                            background-position: 8px 5px;
                            background-position: 11px 8px;
                            background-repeat: no-repeat;
                        }

                        #email {
                            background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
                            background-size: 30px 30px;
                            background-position: 11px 8px;
                            background-repeat: no-repeat;
                        }

                        #email:focus {
                            background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
                            background-size: 30px 30px;
                            background-position: 11px 8px;
                            background-repeat: no-repeat;
                        }

                        #comment {
                            background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
                            background-size: 30px 30px;
                            background-position: 11px 8px;
                            background-repeat: no-repeat;
                        }

                        textarea {
                            width: 100%;
                            height: 150px;
                            line-height: 150%;
                            resize: vertical;
                        }

                        input:hover,
                        textarea:hover,
                        input:focus,
                        textarea:focus {
                            background-color: white;
                        }

                        #button-blue {
                            font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                            float: left;
                            width: 100%;
                            border: #fbfbfb solid 4px;
                            cursor: pointer;
                            background-color: #3498db;
                            color: white;
                            font-size: 24px;
                            padding-top: 22px;
                            padding-bottom: 22px;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            transition: all 0.3s;
                            margin-top: -4px;
                            font-weight: 700;
                        }

                        #button-blue:hover {
                            background-color: rgba(0, 0, 0, 0);
                            color: #0493bd;
                        }

                        .submit:hover {
                            color: #3498db;
                        }

                        .ease {
                            width: 0px;
                            height: 74px;
                            background-color: #fbfbfb;
                            -webkit-transition: .3s ease;
                            -moz-transition: .3s ease;
                            -o-transition: .3s ease;
                            -ms-transition: .3s ease;
                            transition: .3s ease;
                        }

                        .submit:hover .ease {
                            width: 100%;
                            background-color: white;
                        }

                        @media only screen and (max-width: 580px) {
                            #form-div {
                                left: 3%;
                                margin-right: 3%;
                                width: 88%;
                                margin-left: 0;
                                padding-left: 3%;
                                padding-right: 3%;
                            }
                        }
