                /****************************************************************
                     MAIN BODY
****************************************************************/

            .container {
                width: 100%;
                height: auto;
                background-color: dimgray;
                /****************************************************************
                   Home
****************************************************************/
                .home {
                    width: 100%;
                    height: auto;
                    background-image: url(../vcimages/vc2.jpg);
                }
                /****************************************************************
                  About
****************************************************************/
                /****************************************************************
                 Gallery
****************************************************************/
                /****************************************************************
                   Services
****************************************************************/
                /******************************************************************
                   Contact us
******************************************************************/
